<div class="timeline-content">
  <h5><%= poi.name %></h5>
  <%= link_to trip_point_of_interest_leg_path(@trip, poi, leg), id: "DLeg#{poi.id}", method: :delete, remote: true do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
  <p><%= poi.description %></p>
  <p class="duration"></p>
  <div class="los_form form-inline">
    <%= simple_form_for leg, remote: true do |f| %>
      <%= f.input :length_of_stay, label: "How many nights would you like to stay?", class: 'length_of_stay form-control' %>
      <%= f.submit 'Confirm', class: 'submit' %>
    <% end %>
  </div>
</div>
