
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js'></script>
<div class="trip-container">

  <div class="cards-wrap">
    <h6><%= @trip.start_location %></h6>
    <div class="cards-container">
      <div class="row">
        <% @pois.each do |poi| %>
          <div class="col-xs-12 ">

            <% if @trip.legs.find_by(point_of_interest_id: poi.id).nil? %>
              <div class="card-box card-box-plus card-live" id="<%= poi[:name] %>" data-name="<%= poi[:name] %>">
                <h5><%= poi.name %></h5>


                <div id="createLeg<%= poi.id %>" class="add-to-trip">
                  <%= render 'legs/create_button', trip: @trip, poi_id: poi.id %>
                </div>

                <% @id_poi = poi.id %>
                <div class="card-description"><p><%= poi.description %></p></div>
                <div class="card-image">
                  <%= image_tag poi.photo, class: "card-img" %>
                </div>
                <div class="read-more"></div>
                <p class="card-btn read-more-btn btn" id="toggle">Read more</p>
              </div>
            <% else %>
              <div class="card-box card-box-minus card-live" id="<%= poi[:name] %>" data-name="<%= poi[:name] %>">
                <h5><%= poi.name %></h5>
                <% leg = Leg.find_by(point_of_interest_id: poi.id) %>

                <div data-id="destroyLeg<%= poi.id %>" class="remove-from-trip">
                  <%= render 'legs/destroy_button', trip: @trip, poi: poi, leg: leg %>
                </div>

                <% @id_poi = poi.id %>
                <div class="card-description"><p><%= poi.description %></p></div>
                <div class="card-image">
                  <%= image_tag poi.photo, class: "card-img" %>
                </div>
                <p class="card-btn read-more-btn btn" id="toggle">Read More</p>
              </div>
            <% end %>
          </div>

        <% end %>
      </div>
    </div>
  </div>

  <div class="map-container">
    <div id='map' data-pin = "<%= asset_path('pin.png')%>" data-bluepin = "<%= asset_path('blue-pin.png')%>" data-markers = "<%= @markers.to_json %>" data-legs = "<%= @leg_list.to_json %>"></div>
    <div class="optimize-button">
      <p>Calculate Optimized Route</p>
    </div>
  </div>

</div>



  <div class="timeline-header">
    <i class="fas fa-chevron-circle-down"></i>
    <div class="subheader">
      <h6 id="subheader">Now choose how long you would like to spend in each location</h6>
      <p>P.S. Feel free to edit your trip dates if you think you need more time!</p>
    </div>
  </div>


<div class="itinerary-container">
  <div class="timeline-container">
    <%= render 'trip_timeline', pois: @pois, first_poi: @first_poi, trip: @trip %>
  </div>

  <div class="right-container">

    <div class="edit-trip-form">
      <h5>Edit Trip Dates</h5>
        <div class="form-inline">
        <%= simple_form_for @trip, remote: true do |f| %>
          <%= f.input :start_date, placeholder: 'From', label:false, as: :string, input_html: { class: 'flatpickr-input' } %>
          <%= f.input :end_date, placeholder: 'Until', label:false, as: :string, input_html: { class: 'flatpickr-input' } %>
        </div>
          <%= f.submit 'Confirm', class: 'edit-trip-submit' %>
        <% end %>
    </div>

    <div class="progress-circle">
      <%= render 'loading_circle', time_left: @time_left, total_stay: @total_stay %>
    </div>

  </div>
</div>




<%= javascript_pack_tag "map" %>
<%= javascript_pack_tag "timeline" %>
<%= javascript_pack_tag "cards" %>

<%= javascript_pack_tag 'datepicker' %>
<%= javascript_pack_tag 'arrow' %>


