<style>
    .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
</style>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js'></script>
<div class="trip-container">

  <div class="cards-wrap">
    <h4>CUSTOMISE YOUR TRIP</h4>
    <p>Drag and drop activites to personally tailor your trip</p>
    <div class="cards-container">
      <div class="row">
        <% @pois = PointOfInterest.all %>
        <% @pois.each do |poi| %>
          <div class="col-xs-12 ">
            <div class="card-box card-live">
                <h5><%= poi.name %></h5>
                <i class="fas fa-plus plus"></i>
                <div class="card-description">
                  <p><%= poi.description %></p>
                </div>
                <%= image_tag poi.photo, class: 'card-img'%>
            </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>

  <div class="map-container">
    <div id='map' data-pin = "<%= asset_path('pin.png')%>" data-markers = "<%= @markers.to_json %>"></div>
  </div>

</div>


<%= javascript_pack_tag "map" %>
<!-- <script type="text/javascript">
      document.getElementById('cards-container').onscroll = function() {
        console.log("scrolling");
      };
</script> -->

<%= javascript_pack_tag "cards" %>

