<style>
    .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
</style>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js'></script>
<div class="trip-container">

  <div class="cards-wrap">
    <h4>Things To Do in <%= @trip.start_location %>...</h4>
    <div class="cards-container">
      <div class="row">

        <% @pois = PointOfInterest.where(country: @trip.start_location) %>
        <% @pois.each do |poi| %>
          <div class="col-xs-12 ">

            <% if @trip.legs.find_by(point_of_interest_id: poi.id).nil? %>
              <div class="card-box card-box-plus card-live" id="<%= poi[:name] %>" data-name="<%= poi[:name] %>">
                <h5><%= poi.name %></h5>
                <%= link_to trip_legs_path(@trip, poi_id: poi.id) , method: :post  do  %>
                  <p class="card-btn add-poi-btn btn">Add To Trip</p>
                  <!-- <i class="fas fa-plus plus"></i> -->
                <% end %>
                <% @id_poi = poi.id %>
                <div class="card-description"><p><%= poi.description %></p></div>
                <div class="card-image">
                  <%= image_tag poi.photo, class: "card-img" %>
                </div>
                <div class="read-more"></div>
                <p class="card-btn read-more-btn btn" id="toggle">Read more</p>

              </div>

            <% else %>
            <div class="card-box card-box-minus card-live" id="<%= poi[:name] %>" data-name="<%= poi[:name] %>">
              <h5><%= poi.name %></h5>
              <% bla = Leg.find_by(point_of_interest_id: poi.id) %>

                <%= link_to trip_leg_path(@trip, bla), method: :delete  do  %>
                  <!-- <i class="fas fa-minus minus"></i> -->
                  <p class="card-btn added-poi-btn btn">Added To Trip</p>
                <% end %>
                <% @id_poi = poi.id %>
                <div class="card-description"><p><%= poi.description %></p></div>
                <div class="card-image">
                  <%= image_tag poi.photo, class: "card-img" %>
                </div>
                <p class="card-btn read-more-btn btn" id="toggle">Read More</p>
              </div>
            <% end %>
          </div>

        <% end %>
      </div>
    </div>
  </div>

  <div class="map-container">
    <div id='map' data-pin = "<%= asset_path('pin.png')%>" data-bluepin = "<%= asset_path('blue-pin.png')%>" data-markers = "<%= @markers.to_json %>" data-legs = "<%= @leg_list.to_json %>"></div>
    <div class="optimize-button">
      <p>Calculate Optimized Route</p>
    </div>
  </div>

</div>

<h4 class="timeline-header">Now choose how long you would like to spend in each location</h4>

<div class="itinerary-container">

  <% first_poi = @pois[0] %>
  <div class="timeline-container">
    <div class="timeline">
      <ul>
        <% @pois.each do |poi| %>
          <% leg = Leg.find_by(point_of_interest_id: poi.id) %>
          <% if leg.present? %>
            <li>
              <div class="timeline-content">
                <h5><%= poi.name %></h5>
                <p><%= poi.description %></p>
                <p class="duration"></p>
                <div class="los_form form-inline">
                  <%= simple_form_for leg, remote: true do |f| %>
                    <%= f.input :length_of_stay, label: "How many nights would you like to stay?", class: 'length_of_stay form-control' %>
                    <%= f.submit 'Confirm', class: 'submit' %>
                  <% end %>
                </div>
              </div>
            </li>
           <% end %>
        <% end %>
        <li>
          <div class="timeline-content">
            <h5><%= first_poi.name %></h5>
            <p><%= first_poi.description %></p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="right-container">

    <div class="edit-trip-form">
      <h5>Edit Trip Dates</h5>
        <div class="form-inline">
        <%= simple_form_for @trip, remote: true do |f| %>
          <%= f.input :start_date, placeholder: 'From', label:false, as: :string, input_html: { class: 'flatpickr-input' } %>
          <%= f.input :end_date, placeholder: 'Until', label:false, as: :string, input_html: { class: 'flatpickr-input' } %>
        </div>
          <%= f.submit 'Confirm', class: 'edit-trip-submit' %>
        <% end %>
    </div>

    <div class="progress-circle">
      <%= render 'loading_circle', time_left: @time_left, total_stay: @total_stay %>
    </div>

  </div>

</div>



<%= javascript_pack_tag "map" %>
<%= javascript_pack_tag "timeline" %>

<%= javascript_pack_tag 'datepicker' %>


