<style>
    .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
</style>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js'></script>
<div class="trip-container">

  <div class="cards-wrap">
    <h4>CUSTOMISE YOUR TRIP</h4>
    <p>Add and remove activities to your trip and click 'optimize your route' when you think you're finished</p>
    <div class="cards-container">
      <div class="row">

        <% @pois = PointOfInterest.where(country: @trip.start_location) %>
        <% @pois.each do |poi| %>
          <div class="col-xs-12 ">

            <% if Leg.find_by(point_of_interest_id: poi.id).nil? %>
            <div class="card-box card-box-plus card-live" id="<%= poi[:name] %>" data-name="<%= poi[:name] %>">
              <h5><%= poi.name %></h5>
                <%= link_to trip_legs_path(@trip, poi_id: poi.id) , method: :post  do  %>
                  <i class="fas fa-plus plus"></i>
                <% end %>
                <% @id_poi = poi.id %>
                <p class="card-description"><%= poi.description %></p>
                <%= image_tag poi.photo, class: "card-img" %>
                <div class="read-more"></div>
                <p class="card-btn read-more-btn btn btn-primary" id="toggle">Read More</p>
                <p class="card-btn add-poi-btn btn btn-primary">Add To Trip</p>
            </div>
            <% else %>
            <div class="card-box card-box-minus card-live" id="<%= poi[:name] %>" data-name="<%= poi[:name] %>">
              <h5><%= poi.name %></h5>
              <% bla = Leg.find_by(point_of_interest_id: poi.id) %>

                <%= link_to trip_leg_path(@trip, bla), method: :delete  do  %>
                  <i class="fas fa-minus minus"></i>
                <% end %>
                <% @id_poi = poi.id %>
                <p class="card-description"><%= poi.description %></p>
                <%= image_tag poi.photo, class: "card-img" %>
                <p class="card-btn read-more-btn btn btn-primary" id="toggle">Read More</p>
                <p class="card-btn added-poi-btn btn">Added To Trip</p>
              </div>
            <% end %>
          </div>

        <% end %>
      </div>
    </div>
  </div>

  <div class="map-container">
    <div id='map' data-pin = "<%= asset_path('pin.png')%>" data-bluepin = "<%= asset_path('blue-pin.png')%>" data-markers = "<%= @markers.to_json %>" data-legs = "<%= @leg_list.to_json %>"></div>
    <div class="optimize-button">
      <p>Calculate Optimized Route</p>
    </div>
  </div>

</div>

<% first_poi = @pois[0] %>

<%= @time_left %>

<div class="timeline-container">
  <div class="timeline">
    <ul>
      <% @pois.each do |poi| %>
        <% leg = Leg.find_by(point_of_interest_id: poi.id) %>
        <% if leg.present? %>
          <li>
            <div class="timeline-content">
              <h5><%= poi.name %></h5>
              <p><%= poi.description %></p>
              <p class="duration"></p>
              <div class="los_form">
                <%= simple_form_for leg, remote: true do |f| %>
                  <%= f.input :length_of_stay, class: 'length_of_stay' %>
                  <%= f.submit 'Confirm', class: 'submit' %>
                <% end %>
              </div>
            </div>
          </li>
         <% end %>
      <% end %>
      <li>
        <div class="timeline-content">
          <h5><%= first_poi.name %></h5>
          <p><%= first_poi.description %></p>
        </div>
      </li>
    </ul>
  </div>
</div>


<%= javascript_pack_tag "map" %>
<%= javascript_pack_tag "timeline" %>


