<div class="container">
  <div class="dashboard">
    <!-- <div class="user-info">
      <%#= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "dashboard-avatar" %>
      <div class="user-header">
        <h3>Your details</h3>
      </div>
      <div class="user-content">
        <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
        <p>Email: <%= @user.email %></p>
        <button type="button" class="dashboard-btm btn btn-primary btn-sm" data-toggle="modal" data-target="#editmodal">Edit your profile</button>
      </div>
    </div> -->

    <h3>Your trips</h3>
      <% @trips.each do |trip| %>
        <div class="trips-list">
          <div class="trips-left">
            <%= link_to trip.start_location, page_path(current_user, active: trip.id)  %>
          </div>
          <div class="trips-right">
            <p>
                <li>Location: <%= trip.start_location %></li>
                <li>From <%= trip.start_date %> Until <%= trip.end_date %></li>
            </p>
          </div>
          <div class="map-container">
            <div id='map' data-pin = "<%= asset_path('pin.png')%>" data-markers = "<%= @markers.to_json %>"></div>
          </div>
        </div>
      <% end %>
  </div>
</div>

