<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js'></script>

<div class="container">
  <div class="dashboard">
    <!-- <div class="user-info">
      <%#= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "dashboard-avatar" %>
      <div class="user-header">
        <h3>Your details</h3>
      </div>
      <div class="user-content">
        <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
        <p>Email: <%= @user.email %></p>
        <button type="button" class="dashboard-btm btn btn-primary btn-sm" data-toggle="modal" data-target="#editmodal">Edit your profile</button>
      </div>
    </div> -->

    <h1>Your trips</h1>
    <div class="dashboard-container">
      <div>
        <% @trips.each do |trip| %>
          <div class="trips-list">
            <div class="trips-left">
              <p><%= link_to trip.start_location, page_path(current_user, active: trip.id) %> From <%= trip.start_date %> Until <%= trip.end_date %></p>
            </div>
            <!-- <div class="trips-right">
              <p>Location: <%= trip.start_location %></p>
              <p>From <%= trip.start_date %> Until <%= trip.end_date %></p>
            </div> -->
          </div>
        <% end %>
      </div>



    </div>
    <div class="dashboard-map-container">
      <% if params[:active] %>
        <% tripou = Trip.find(params[:active].to_i) %>
        <% @markers = PointOfInterest.where(country: tripou.start_location).map do |poi| %>
          <% [poi.lat, poi.long, poi.name, poi.description, poi.url] %>
        <% end %>

        <!-- <div class="map-container"> -->
          <div id='map' data-pin="<%= asset_path('pin.png')%>" data-markers="<%= @markers.to_json %>"></div>
        <!-- </div> -->
      <% end %>
    </div>

  </div>
</div>

<%= javascript_pack_tag "map" %>
