<div class="container">
  <h2>My Trips: </h2>
  <div class="row">
    <% @trips.each do |trip|%>
      <div class="col-md-7 col-sm-3 col-xs-6">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <div class="pull-left card-country"><h4><%= trip.start_location %></h4></div>
              <div class="pull-right"><%= link_to "Edit", trip_path(trip), class: "btn btn-primary btn-dashboard"  %></div>
            </div>
            <div class="modal-body">

              <div  class="carousel slide" id="trip-<%= trip.id %>" data-interval="false">
                <div class="carousel-inner">
                      <div class="item active first-img">
                        <div class="carousel-caption">
                          <h4><%= trip.start_date %> - <%= trip.end_date %></h4>
                        </div>
                      </div>
                  <% @pois = PointOfInterest.where(country: trip.start_location) %>
                  <% @pois.each do |poi| %>
                    <% @legs = Leg.where(point_of_interest_id: poi.id) %>
                    <% @legs.each do |leg| %>
                      <div class="item">
                        <%= image_tag(leg.point_of_interest.photo, class: "img-responsive dashboard-card-img") %>
                        <div class="carousel-caption">
                          <h3><%= leg.point_of_interest.name %></h3>
                          <p><%= leg.length_of_stay %></p>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <a class="left carousel-control" href="#trip-<%= trip.id %>" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#trip-<%= trip.id %>" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-3 col-xs-6">
        <div class="info-dashboard">
          <div class="modal-header">
              <div class="pull-left"><h4>Share Your Trip</h4></div>

            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

</div>
